// Setting -- Fonts
$font_body: 'Prompt', sans-serif;
$font_header: 'Varela Round', 'Prompt', sans-serif;
$font_size: 16px;
$font_lineheight: 1.5;

// Setting -- Colors
$color_black: #000;
$color_white: #fff;
$color_pink: #ed798f;
$color_pink_muted: #f4b0b4;
$color_grey: #ddd;
$color_mint: #8fc9c6;
$color_blue_muted: #c6dae4;
$color_peach: #f9ccb2;

$color_primary: $color_black;
$color_secondary: $color_white;